body {
	display: grid;
}
img {
	height: 200px;
}
div {
	padding-left: 1rem;
}
.item {
	align-content: center;
	justify-content: center;
}
#intro {
display: grid;
justify-content: center;
	grid-template-areas: 
    'head head head head head head'
    'name name name email email email'
    'phone phone phone major major major';
}
#intro #nameInfo {
	grid-area: name;
}
#intro #emailInfo {
	grid-area: email;
}
#intro #phoneInfo {
	grid-area: phone;
}
#intro #majorInfo {
	grid-area: major;
}
#intro h1 {
	font-size: 4rem;
	grid-area: head;
	text-align: center;
}
#intro p {
	font-size: 1.9rem;
	margin: 0;
}
#intro p.right {
	float: right;
}

/*********************DIRECTORY ITEMS*/
.item h2 {
	grid-area: head;
}
.item p {
	grid-area: text;
}
.item section{
	grid-area: lang;
	justify-self: center;
}
.item img{
	grid-area: image;
}
#Burgess {
	display: grid;
	grid-template-areas: 
    'head head head head head head'
    'lang lang lang lang image image'
    'text text text text text text';
}
#Cannon {
	display: grid;
	grid-template-areas: 
    'head head head head head head'
    'text text text text text text'
    'lang lang lang lang image image';
}
#Calculator {
	display: grid;
	grid-template-areas: 
    'image image head head head head'
    'image image text text text text'
    'lang lang text text text text';
}
#ADP {
	display: grid;
	grid-template-areas: 
    'head head head head lang lang'
    'text text text text text text'
    'text text text text text text';
}
#Turtle {
	display: grid;
	grid-template-areas: 
    'head head image image lang lang'
    'head head image image lang lang'
    'text text text text text text';
}
#Saitama {
	display: grid;
	grid-template-areas: 
    'head head head head head head'
    'text text text text text text'
    'lang lang lang lang image image';
    
}

/*********************TEXT*/
h2 {
	padding-right: 1rem;
	padding-left: 1rem;
	justify-self: center;
	font-size: 3rem;
	text-align: center;
}
p {
	font-size: 2.3rem;
	padding-left: 1em;
	padding-right: 1em;
	line-height: 1.4;

}
.item p {
	text-align: justify;
}
/*********************LANGUAGE LIST*/
section {
}
section h3 {
	font-size: 2.4rem;
	margin-bottom: 0px;
}
section li {
	font-size: 2rem;
}
/*********************VISIT SITE LINK*/
h3.link {
	font-size: 2.5em;
	justify-self: center;
	padding-bottom: 2rem;
	text-align: center;
	line-height: 1.4;
}
/*********************Burgess*/
#Burgess section h3 {
	margin-top: 0;
}
/*********************Calculator*/
#calcPic {
	height: 300px;
	justify-self: center;
	align-self: flex-end;
}
/*********************Turtle Game*/
#turtlePic {
	justify-self: center;
	padding-top: 2rem;
}
#ADPPic {
	height: 325px;
	justify-self: center;
	align-self: flex-end;
	float: right;
	padding-left: 30px;
}
/*********************DIVIDING LINES*/
.divideLine {
	justify-self: center;
	font-size: 3rem;
	padding-bottom: 1rem;
}